{% extends 'cn/layout.html' %}

{% block title %}
  Logs
{% endblock %}

{% block consol %}
<div class="content-wrapper">
<nav>
  <div>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">启动日志</a>
	<!--
    <a class="nav-item nav-link" id="nav-daemon-tab" data-toggle="tab" href="#nav-daemon-logs" role="tab" aria-controls="nav-daemon" aria-selected="false">守护程序日志</a>
      <a class="nav-item nav-link" id="nav-Dsensors-tab" data-toggle="tab" href="#nav-Dsensors-logs" role="tab" aria-controls="nav-Dsensors" aria-selected="false">距离传感器的日志</a>
	<a class="nav-item nav-link" id="nav-Tsensors-tab" data-toggle="tab" href="#nav-Tsensors-logs" role="tab" aria-controls="nav-Tsensors" aria-selected="false">温度传感器日志</a>
	-->
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="form-group">
      <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="30">
{{data}}
      </textarea>
    </div>
  </div>
      <div class="tab-pane fade show" id="nav-Dsensors-logs" role="tabpanel" aria-labelledby="nav-Dsensors-tab">
    <div class="form-group">
      <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="30">
{{ _distR_log }}
      </textarea>
    </div>
  </div>
    <div class="tab-pane fade show" id="nav-Tsensors-logs" role="tabpanel" aria-labelledby="nav-Tsensors-tab">
    <div class="form-group">
      <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="30">
{{ _tempR_log }}
      </textarea>
    </div>
  </div>
  <div class="tab-pane fade show" id="nav-daemon-logs" role="tabpanel" aria-labelledby="nav-daemon-tab">
    <div class="form-group">
      <textarea class="form-control .console_" id="exampleFormControlTextarea1" rows="30">
------------------------------------------------------------------------------
---Flask WebAPP后台程序日志---
------------------------------------------------------------------------------
{{ flask_log }}


------------------------------------------------------------------------------
---发布数据守护程序日志---
------------------------------------------------------------------------------
{{ _postD_log }}


------------------------------------------------------------------------------
---心跳守护程序日志---
------------------------------------------------------------------------------
{{ hb_log }}


------------------------------------------------------------------------------
---重新启动守护程序日志---
------------------------------------------------------------------------------
{{ _reb_log }}


------------------------------------------------------------------------------
---进程监视器守护程序日志---
------------------------------------------------------------------------------
{{ _pro_log }}


------------------------------------------------------------------------------
---读取温度守护程序日志---
------------------------------------------------------------------------------
{{ _temp_log }}



------------------------------------------------------------------------------
---读取距离守护程序日志---
------------------------------------------------------------------------------
{{ _dist_log }}


      </textarea>
    </div>
  </div>
</div>
</div>
{% endblock %}